.sidebar {
    height: 100vh;
    padding: 20px;
}

.row.layout {
    margin:12%;
}

body{
    background-color: #f0f0f0;
}

.class{
    background-color:white;
}

.newpostform{
    padding:20px;
}

.card{
    margin-bottom:10px;
    border-radius: 20px;
}

.card.posts, .card.profile{ 
    padding-left:3%;
    padding-bottom:1%;
    padding-top:1%;
    padding-right:3%;
}

.userlinks, .userlinks:hover {
    color:black;
    text-decoration:none;
}

.card.profile{
    padding: 5% 5% 5% 5%;
}

.card.profile .col-12 {
    text-align: center;
}

.card.profile .col-6.followbutton {
    text-align:right;
}

.navbar-brand.title {
    font-weight: bolder;
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #17A2B8;
}

.navbar-brand.title:hover {
    text-decoration: underline;
}

.hearts{
    color:red; 
    font-size:18px;
}

.btn {
    border-radius:20px;
}


.list-group {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    margin-top: 15px;
}

.list-group-item{
    padding: 5% 5% 3% 7%;
    background-color: rgb(0,0,0,0);
}

.row.pagination {
    text-align:center;
    padding-top:3%;
}


.step-links a{
    color: black;
    font-size:14px;
    margin: 0 10px;
}

.col-4.post {
    text-align:right;
}

.likebtn {
    margin-left:.5rem;
    padding: .25rem .4rem;
    line-height: .9;
    border-radius:30px;
    font-size:75%;
    font-weight:bold;
  }